{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 2021,
      "sourceType": "module"
    },
    "plugins": ["@typescript-eslint", "react-hooks"],
    "extends": [
      "plugin:react/recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn",
      "react/prop-types": "off",
      
      "no-console": "warn",
      "quotes": ["warn", "single"],
      "jsx-quotes": ["warn", "prefer-single"],
      "prefer-const": "warn",
      "indent": ["warn", 4],
      "max-len": ["warn", {"code": 120}],
      "comma-dangle": ["warn", "always-multiline"],
      "semi": ["warn", "always"]
    },
    "ignorePatterns": ["dist", "node_modules", "webpack.*"],
    "settings": {
      "react": {
        "pragma": "React",
        "version": "detect"
      }
    }
  }