{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 2021,
      "sourceType": "module"
    },
    "plugins": ["@typescript-eslint", "react-hooks"],
    "extends": [
      "plugin:react/recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
      "react-hooks/exhaustive-deps": "warn",
      "react-hooks/rules-of-hooks": "error",
      "react/jsx-boolean-value": "warn",
      "react/jsx-closing-bracket-location": "warn",
      "react/jsx-closing-tag-location": "warn",
      "react/jsx-curly-spacing": "warn",
      "react/jsx-tag-spacing": "warn",
      "react/jsx-wrap-multilines": "warn",
      // "react/no-array-index-key": "warn",
      "react/prop-types": "off",
      // "react/self-closing-comp": "warn",
      
      "comma-dangle": ["warn", "always-multiline"],
      "eol-last": ["warn", "always"],
      "indent": ["warn", 4],
      "jsx-quotes": ["warn", "prefer-double"],
      "max-len": ["warn", {"code": 120}],
      "no-console": "warn",
      "prefer-const": "warn",
      "quotes": ["warn", "single"],
      "semi": ["warn", "always"]
    },
    "ignorePatterns": ["dist", "node_modules", "webpack.*"],
    "settings": {
      "react": {
        "pragma": "React",
        "version": "detect"
      }
    }
  }